.menu-bar{
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.menu-bar .label{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-padding: 10;
}

.menu-item .label{
    -fx-text-fill: black;
    -fx-padding: 5;
    -fx-font-size: 12;
}

.menu-item .label:hover{
    -fx-background-color: grey;
}

.bouton-item{
    -fx-background-color: transparent;
}